<script src="catalog/view/javascript/jquery.maskedinput.min.js" type="text/javascript"></script>
<div class="row" id="polpol">
    <div class="col-sm-12 v_t">{{ text_01 }}</div>
    <div class="col-sm-12">
        <form action="{{ action }}" method="post" id="form-rev" enctype="multipart/form-data" class="form-horizontal col-sm-12">
        <fieldset>
          <div class="form-group obj_name">
            <label class="control-label" for="popup-input-name">{{ entry_name }}</label>
              <input type="text" name="{{ token }}_name" value="{{ name }}" id="popup-input-name" class="form-control" />
              <input type="hidden" name="name" value="{{ name }}" />
              <script>
                  $('#popup-input-name').on('input keyup', function(e) {
                      $('input[name=name]').val($(this).val())
                  });
              </script>
          </div>
		  <div class="form-group required obj_telephone">
            <label class="control-label" for="popup-input-telephone">{{ entry_telephone }}</label>
              <input type="text" name="{{ token }}_telephone" value="{{ telephone }}" placeholder="+7 (___)___-__-__" id="popup-input-telephone" class="form-control" />
              <input type="hidden" name="telephone" value="{{ telephone }}" />
              <script>
                  $('#popup-input-telephone').on('input keyup', function(e) {
                      $('input[name=telephone]').val($(this).val())
                  });
              </script>
          </div>
          <div class="form-group obj_email">
            <label class="control-label" for="popup-input-email">{{ entry_email }}</label>
              <input type="text" name="{{ token }}_email" value="{{ email }}" id="popup-input-email" class="form-control" />
              <input type="hidden" name="email" value="{{ email }}" />
              <script>
                  $('#popup-input-email').on('input keyup', function(e) {
                      $('input[name=email]').val($(this).val())
                  });
              </script>
          </div>
          <div class="form-group">
            <label class="control-label" for="input-enquiry">{{ entry_enquiry }}</label>
              <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control">{{ enquiry }}</textarea>
          </div>
            {{ captcha }}
{#		  <div class="form-group"><input type="checkbox" name="whatsapp" value="1" checked> Хочу получать ответ в WhatsApp</div>#}
{#		  <div class="form-group"><input type="checkbox" name="mailing" value="1" checked> Хочу получать рассылку на Email</div>#}
		  <div class="form-group obj_agree"><input checked type="checkbox" name="agree" value="1" checked> Я согласен на обработку персональных данных в соответствии с <a href="{{ ur }}">политикой конфиденциальности</a>
{#		  <div class="ag"></div>#}
		  </div>
        </fieldset>
		<div id="r"></div>
        <div class="buttons">
          <div class="">
            <input class="btn btn-primary btn-block btn-lg" data-loading-text="{{ text_loading }}" id="button-form1" type="button" value="{{ button_submit }}" />
              {% if product_id is not null %}
                  <input type="hidden" name="product_id" value="{{ product_id }}" />
                  <input type="hidden" name="vid" value="2" />
              {% elseif category_id is not null %}
                  <input type="hidden" name="vid" value="4" />
              {% else %}
                  <input type="hidden" name="vid" value="1" />
              {% endif %}
          </div>
        </div>
      </form>
    </div>
</div>
<script type="text/javascript"><!--
$('#button-form1').on('click', function() {
    $.ajax({
		url: 'index.php?route=common/popups/add',
		type: 'post',
		dataType: 'json',
		data: $("#form-rev").serialize(),
		beforeSend: function() {
			$('#button-form1').button('loading');
		},
		complete: function() {
			$('#button-form1').button('reset');
		},
		success: function(json) {
			$('.text-danger').remove();

			if (json['error']) {
			    if(json['error']['name']) {
				    $('#polpol .obj_name').addClass('has-error');
					$('#polpol input[name=\'name\']').after('<div class="text-danger">' + json['error']['name'] + '</div>');
				}

				if(json['error']['telephone']) {
				    $('#polpol .obj_telephone').addClass('has-error');
					$('#polpol input[name=\'telephone\']').after('<div class="text-danger">' + json['error']['telephone'] + '</div>');
				}

				if(json['error']['email']) {
				    $('#polpol .obj_email').addClass('has-error');
					$('#polpol input[name=\'email\']').after('<div class="text-danger">' + json['error']['email'] + '</div>');
				}

				if(json['error']['agree']) {
				    $('#polpol .obj_agree').addClass('has-error');

					$('#polpol .ag').after('<div class="text-danger">' + json['error']['agree'] + '</div>');
				}

                if(json['error']['captcha']) {
                    $('#polpol .obj_captcha').addClass('has-error');
                    $('#polpol .g-recaptcha').after('<div class="text-danger">' + json['error']['captcha'] + '</div>');
                }

			}

			if (json['success']) {
				$('#polpol').html('<div class="col-sm-12"><div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div></div>');
			}
		}
	});
});

$(function(){
    $("#popup-input-telephone").mask("+7 (999)999-99-99");
});
//--></script>
