<div class="index__banner">
	<div class="index__banner-wrap">
		<div class="index__banner-content">
			<div class="index__banner-title">{{ ib_title }}</div>
			<div class="index__banner-text">{{ ib_text }}</div>
			<div class="index__banner-button">
				<a href="index.php?route=common/popups2" class="btn btn-bans agree">{{ ib_button }}</a>
			</div>
		</div>
		<div class="index__banner-image"><img src="{{ ib_image }}" alt="{{ ib_title }}" class="img-responsive" /></div>
	</div>
</div>