<nav id="menuVertical">
    <div class="cat_verh" style="padding: 10px 15px">Каталог</div>
    <ul>
        {% for category in categories %}
        <li><a href="{{ category.href }}" class="list-group-item">{{ category.name }}</a>
            {% if category.children %}
                <ul class="menu-children">
                    {% for child in category.children %}
                        <li><a href="{{ child.href }}" class="list-group-item">{{ child.name }}</a>
                            {% if child.children2 %}
                                <ul>
                                    {% for child2 in child.children2 %}
                                        <li><a href="{{ child2.href }}">{{ child2.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>
