<style>
  #list-group{{ module }} .list-group-item {
    padding: 10px 20px;
    margin-bottom: 1px;
    background: linear-gradient(321.26deg, #4167DA 0%, #7699FF 98.06%);
  }
  #list-group{{ module }} a {
    color: white;
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
    line-height: 140%;
  }
  #list-group{{ module }} a:hover {
    font-weight: 700;
    text-shadow: none;
  }
  #list-group{{ module }} a img {
    float:right;
    margin-top:-13px
  }
  #list-group{{ module }} .list-group-item-heading {
    color: white;
  }
  #list-group{{ module }} .list-group-item:first-child {
    font-weight: 700;
  }

  #list-group{{ module }} .list-group-item-text {
    font-size: 13px;
    opacity: 0.8;
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    #list-group{{ module }} .list-group-item-heading {
      color: white;
      font-size: 12px;
    }
    #list-group{{ module }} a {
      color: white;
      font-family: 'Inter';
      font-style: normal;
      line-height: 100%;
    }
    #list-group{{ module }} .list-group-item-text {
      font-size: 10px;
      opacity: 0.8;
    }
  }
</style>
<div class="row">
<div class="col-sm-12 col-lg-9 col-md-9">
  <div class="slideshow swiper-viewport" style="margin-bottom: 0; box-shadow: none">
    <div id="slideshow{{ module }}" class="swiper-container">
      <div class="swiper-wrapper"> {% for banner in banners %}
        <div class="swiper-slide text-center" style="padding: unset; border: none">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
        {% endfor %} </div>
    </div>
    <div class="swiper-pagination slideshow{{ module }}" style="bottom: 10px;"></div>
  </div>
</div>
<div id="list-group{{ module }}" class="list-group col-md-3 col-lg-3 hidden-xs hidden-sm">
  <a href="#" class="list-group-item">
    <span class="list-group-item-heading">{{ name }}</span>
  </a>
  {% for menu in blue_menu %}
    <a href="{{ menu.href }}" class="list-group-item">
      <span class="list-group-item-heading">{{ menu.name }}</span>
      <p class="list-group-item-text">Посмотреть</p>
      <img src="/image/arrow.svg">
    </a>
  {% endfor %}
</div>
<script type="text/javascript"><!--
$('#slideshow{{ module }}').swiper({
	mode: 'horizontal',
	slidesPerView: 1,
	pagination: '.slideshow{{ module }}',
	paginationClickable: true,
    spaceBetween: 30,
	autoplay: 2500,
    autoplayDisableOnInteraction: true,
	loop: true
});

  difference = $('#slideshow{{ module }}').height() - $('#list-group{{ module }}').height();
  if (difference > 0) {
    $('#list-group{{ module }} a:last-child').css('height', $('#list-group{{ module }} .list-group-item:last-child').outerHeight() + difference);
  }
//--></script>
</div>
