{{ header }}
<div class="photo-gallery-wrapper">
<div id="information-information" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
	  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
      <h1 class="verx">{{ heading_title }}</h1>

      {% if paragraphs %}
          <div class="row imagetiles">
              {% for paragraph in paragraphs %}
                  <div class="col-xs-12 col-lg-3 col-md-3 col-sm-4 capture">
                      <a href="#" class="pop">
                        <img src="{{ paragraph.image }}" alt="" class="fluid img-thumbnail">
                      </a>
                  </div>
              {% endfor %}
          </div>
      {% endif %}

        <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <img src="" class="imagepreview" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(function() {
                $('.pop').on('click', function(e) {
                    e.preventDefault()
                    $('.imagepreview').attr('src', $(this).find('img').attr('src'));
                    $('#imagemodal').modal('show');
                });
            });
        </script>


      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
</div>
<style>
    .capture {
        margin-bottom: 10px;
    }
    .capture .img-thumbnail {
        max-height: 200px;
        padding: 0;
        margin: 4px 0;
    }

    /* Large desktops and laptops */
    @media (min-width: 1200px) {

    }

    /* Landscape tablets and medium desktops */
    @media (min-width: 992px) and (max-width: 1199px) {

    }

    /* Portrait tablets and small desktops */
    @media (min-width: 768px) and (max-width: 991px) {

    }

    /* Landscape phones and portrait tablets */
    @media (max-width: 767px) {
        .capture .img-thumbnail {
            min-width:100%;
            max-height: unset !important;
        }
    }

    /* Portrait phones and smaller */
    @media (max-width: 480px) {

    }

</style>
{{ footer }}
